<div id="main" class="panel panel-default">
  <div id="main" class="panel-heading">
    <h2>Ponowne wysyłanie e-maila aktywującego konto</h2>
  </div>
  <div id="main" class="panel-body" style="overflow-y: auto">
    <% devise_error_messages! %>
    
    <%= form_for(resource, as: resource_name,
        url: confirmation_path(resource_name),
        html: { method: :post }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true,
            value: (resource.pending_reconfirmation? ?
            resource.unconfirmed_email : resource.email),
            class: "form-control" %>
      </div>
    
      <%= f.submit "Wyślij ponownie", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div id="main" class="panel-footer"><%= render "devise/shared/links" %></div>
</div>