<div id="main" class="panel panel-default">
  <div id="main" class="panel-heading">
    <h2>Ustawienia konta</h2>
  </div>
  <div id="main" class="panel-body" style="overflow-y: auto">
    <% devise_error_messages! %>
    
    <h3>Podstawowe dane</h3><br />
    
    <%= form_for(resource, as: resource_name,
        url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-group">
        <%= f.label :first_name, "Imię" %>
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :second_name, "Drugie imię" %>
        <%= f.text_field :second_name, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :last_name, "Nazwisko" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      
      <div class="radio">
        <label>
          <%= f.radio_button :is_female, true %> Kobieta
        </label>
      </div>
      
      <div class="radio">
        <label>
          <%= f.radio_button :is_female, false %> Mężczyzna
        </label>
      </div>
      
      <div class="form-group">
        <%= f.label :date_of_birth, "Data urodzenia" %>
        <div class="form-inline">
          <%= f.date_select :date_of_birth,
            {
              prompt: true,
              end_year: Date.today.year - 110,
              start_year: Date.today.year - 7
            },
            { class: "form-control" }
          %>
        </div>
      </div>
      
      <%= f.submit "Aktualizuj profil" , class: "btn btn-primary" %>
    <% end %>
    
    <br /><h3>E-mail i hasło</h3><br />
    
    <% if devise_mapping.confirmable? &&
        (resource.pending_reconfirmation? || !resource.confirmed?) %>
      <div id="main" class="panel panel-warning">
        <div id="main" class="panel-heading">
          <h4 class="panel-title">E-mail nie został potwierdzony!</h4>
        </div>
        <div id="main" class="panel-body" style="overflow-y: auto">
          Link potwierdzający został wysłany na <b><%=
            if !resource.unconfirmed_email.nil?
              resource.unconfirmed_email
            elsif !resource.email.nil?
              resource.email
            end
          %></b>.
          <br /><br />
          <%= form_for(resource, as: resource_name,
              url: confirmation_path(resource_name),
              html: { class: "form-inline", method: :post }) do |f| %>
            E-mail aktywujący nie doszedł?
            <%= if !resource.unconfirmed_email.nil?
              f.hidden_field :email, value: resource.unconfirmed_email
            elsif !resource.email.nil?
              f.hidden_field :email, value: resource.email
            end %>
            <%= f.submit "Wyślij ponownie", class: "btn btn-warning btn-sm" %>
          <% end %>
        </div>
      </div>
    <% end %>
      
    <%= form_for(resource, as: resource_name,
        url: registration_path(resource_name), html: { method: :put }) do |f| %>
      
      <div class="form-group">
        <%= f.label :email, "E-mail" %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, "Nowe hasło" %> <i>(zostaw puste pole, jeśli nie chcesz zmieniać hasła)</i>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <em>minimum <%= @minimum_password_length %> znaków</em>
        <% end %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, "Powtórz nowe hasło" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :current_password, "Obecne hasło" %> <i>(potwierdź zmianę e-maila lub hasła wpisując aktualne hasło)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>
      
      <%= f.submit "Zmień dane logowania" , class: "btn btn-primary" %>
    <% end %>
    <br /><br />
    <p>
      <h4>
        Usuwanie konta<br />
        <small>Niezadowolony?</small>
      </h4>
      <%= button_to "Usuń konto", registration_path(resource_name),
      data: { confirm: "Czy na pewno chcesz usunąć konto" },
      method: :delete, class: "btn btn-danger btn-xs" %>
      <i>Operacji nie da się cofnąć!</i>
    </p>
  </div>
  <div id="main" class="panel-footer"><%= link_to "Wróć", :back %></div>
</div>