<div id="main" class="panel panel-default">
  <div id="main" class="panel-heading"><h2>Zarejestruj się</h2></div>
  <div id="main" class="panel-body" style="overflow-y: auto">
    <% devise_error_messages! %>
    
    <%= form_for(resource, as: resource_name,
        url: registration_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :first_name, "Imię" %><br />
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :last_name, "Nazwisko" %><br />
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off",
            class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",
            class: "form-control" %>
      </div>
    
      <center>
        <%= f.submit "Zarejestruj się", class: "btn btn-primary" %>
      </center>
    <% end %>
  </div>
  <div id="main" class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>