<%= form_for @event, as: @event, url: calendar_create_event_url,
		html: { method: :post } do |f| %>
	<div id="main" class="panel panel-default">
		<div id="main" class="panel-heading">
			<h4>Tworzenie wydarzenia</h4>
		</div>
		<div id="main" class="panel-body" style="overflow-y: auto">
			<div class="form-group">
				<%= f.label :name, "Nazwa" %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :start_time, "Początek" %>
				<div class="form-inline">
        	<%= f.datetime_select :start_time,
        		{
        			prompt: true,
              end_year: Date.today.year - 110, start_year: Date.today.year + 5,
              date_separator: '', time_separator: '', minute_step: 5,
              datetime_separator: ' o godzinie: '
            },
        		{ class: "form-control" }
        	%>
        </div>
			</div>
			<div class="form-group">
				<%= f.label :end_time, "Koniec" %>
				<div class="form-inline">
        	<%= f.datetime_select :end_time,
        		{
        			prompt: true,
              end_year: Date.today.year - 110, start_year: Date.today.year + 5,
              date_separator: '', time_separator: '', minute_step: 5,
              datetime_separator: ' o godzinie: '
            },
        		{ class: "form-control" }
        	%>
        </div>
			</div>
			<div class="form-group">
				<%= f.label :description, "Opis" %>
        <%= f.text_area :description, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :color, "Kolor" %>
        <%= f.select :color, [["Biały", "default"], ["Niebieski", "primary"],
        	["Zielony", "success"], ["Błękitny", "info"],
        	["Pomarańczowy", "warning"], ["Czerwony", "danger"],
        	["Fioletowy", "purple"], ["Różowy", "pink"], ["Czarny", "black"],
        	["Żółty", "yellow"]].sort, {
        		selected: "warning"
        	},
        	{ class: "form-control" }
        %>
			</div>
			<div class="form-group">
				<%= f.label :main_groups, "Organizatorzy" %>
				<i>(wybierając wiele trzymaj wciśnięty <b>CTRL</b>)</i>
				<%= select_tag :selected_group,
				options_from_collection_for_select(
					@main_groups_to_selected.sort_by { |g| g.name }, "id", "name"),
				{ class: "form-control", size: 5, :multiple => true } %>
			</div>
			<div class="form-horizontal">
				<%= label_tag :mandatory_presence, "Obowiązkowo obecni" %>
				<% MainGroup.all.each do |group| %>
					<% if group.name != "Deweloperzy" %>
						<div class="form-group">
							<div class="col-xs-4 col-sm-5 control-label"
									style="word-wrap: break-word; text-align: right">
								<%= group.name %>
							</div>
							<div class="col-xs-5 col-sm-2">
								<div class="text-center">
									<div class="checkbox">
										<%= check_box group.id, :mandatory_presence,
											disabled: group.users.empty? %>
										<%= "Liczba osób: " %>
									</div>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1">
								<%= number_field_tag group.id.to_s + "[number_mandatory]", "",
									{ class: "form-control", disabled: true, min: 1,
									max: group.users.size, step: 1 } %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="form-group">
				<%= label_tag :selected_category, "Kategoria" %>
				<%= select_tag :selected_category,
				options_from_collection_for_select(
					EventCategory.all.collect.sort_by { |g| g.name }, "id", "name"),
				{ class: "form-control", size: 0 } %>
			</div>
			<div class="form-group">
				<%= label_tag :overriding_event, "Powiąż z" %>
				<%= select_tag :overriding_event,
				options_from_collection_for_select(
					Event.all.collect.sort_by { |g| g.start_time },
						:id, :start_time_and_name),
				{ class: "form-control", size: 0, include_blank: true } %>
			</div>
			<div class="form-group">
				<%= label_tag :repeat_every, "Powtarzaj co:" %>
				<div class="form-inline">
					<%= number_field_tag :repeat_every_number, 0,
						{ class: "form-control", disabled: false, min: 0,
						max: 99, step: 1, style: "width: 100px" } %>
					<%= select_tag :repeat_every_type,
						options_for_select([["dzień", "0"],
							["tydzień", "1"], ["miesiąc", "2"], ["rok", "3"]], "1"),
						{ class: "form-control", size: 0, include_blank: false } %>
				</div>
			</div>
			<div class="form-group">
				<%= label_tag :repeat_every, "Powtarzaj do:" %>
				<div class="form-inline">
        	<%= date_select :repeat_end, "",
      			{ prompt: false,
      				end_year: Date.today.year, start_year: Date.today.year + 10
      			},
            { class: "form-control" }
        	%>
        </div>
			</div>
		</div>
		<div id="main" class="panel-footer">
			<div class="text-center">
				<%= f.submit "Dodaj wydarzenie" , class: "btn btn-primary" %>
			</div>
		</div>
	</div>
<% end %>