<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h1><%= @event.name %></h1>
	</div>
	<div id="select_model" style="display: none;">
		<% @name = @event.id.to_s + "[attendance][]" %>
		<%= select_tag @name, options_from_collection_for_select(
				@current_group.users.sort_by{ |u| u.last_name }, "id", "full_name"),
				{ class: "form-control", style: "min-width: 120px", size: 0,
						include_blank: true } %>
	</div>
	<%= form_tag calendar_save_attendance_list_url, method: :post do %>
		<%= hidden_field_tag "event_id", @event.id %>
		<div id="main" class="panel-body" style="overflow-y: auto">
			<div class="row">
				<div class="col-sm-1 col-sm-offset-4"
						style="font-weight: bold; line-height: 160%">
					<p>Data:</p>
				</div>
				<div class="col-sm-6">
					<p>
						<%= l @event.start_time, format: "%A" %>,
						<%= l @event.start_time.to_date %>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-sm-offset-4"
						style="font-weight: bold; line-height: 160%">
					<p>Godzina:</p>
				</div>
				<div class="col-sm-6">
					<p><%= l @event.start_time, format: "%H:%M" %></p>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="pull-right form-group">
						<div id="add" class="btn btn-default btn-xs">
							<span class="glyphicon glyphicon-plus"
								aria-hidden="true">
							</span>
						</div>
					</div>
					<div style="font-weight: bold; line-height: 160%">
						Lista obencności:
					</div>
					<div class="text-center form-group">
						<div id="list">
							<% @att_list.users.each do |user| %>
								<div class="form-group">
									<%= select_tag @name,
											options_from_collection_for_select(
													@current_group.users
															.sort_by{ |u| u.last_name },
													"id", "full_name", user.id),
											{ class: "form-control",
													style: "min-width: 120px",
													size: 0, include_blank: true } %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="main" class="panel-footer">
			<div class="form-group" style="text-align: center">
				<%= button_tag "Zapisz", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>