<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h1><%= @event.name %></h1>
	</div>
	<%= form_tag calendar_save_points_url, method: :post do %>
		<%= hidden_field_tag "event_id", @event.id %>
		<div id="main" class="panel-body" style="overflow-y: auto">
			<div class="row">
				<div class="col-sm-1 col-sm-offset-4"
						style="font-weight: bold; line-height: 160%">
					<p>Data:</p>
				</div>
				<div class="col-sm-6">
					<p>
						<%= l @event.start_time, format: "%A" %>,
						<%= l @event.start_time.to_date %>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-sm-offset-4"
						style="font-weight: bold; line-height: 160%">
					<p>Godzina:</p>
				</div>
				<div class="col-sm-6">
					<p><%= l @event.start_time, format: "%H:%M" %></p>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-2 col-sm-offset-4">
					<div style="font-weight: bold; line-height: 160%">
						Lista obencności:
						<br /><br />
					</div>
					<div class="text-right form-group">
						<div id="list">
							<% @users_list.each do |user| %>
								<div class="form-group">
									<div style="font-weight: bold; line-height: 220%">
										<%= user.full_name %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div style="font-weight: bold; line-height: 160%">
						Punkty:
						<br /><br />
					</div>
					<div class="text-center form-group">
						<div id="points">
							<% @users_list.each do |user| %>
								<div class="form-group">
									<% @name_number = @event.id.to_s + "[points][" +
											user.id.to_s + "]" %>
									<% @points = @event.points.find_by(user_id: user.id) %>
									<%= number_field_tag @name_number,
											@points.nil? ? nil : @points.points,
											{ class: "form-control", style: "min-width: 120px", min: -50, max: 50,
													step: 1 } %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="main" class="panel-footer">
			<div class="form-group" style="text-align: center">
				<%= button_tag "Zapisz", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>