<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h1>Zarządzanie kategoriami wydarzeń</h1>
	</div>
	<div id="main" class="panel-body" style="overflow-y: auto">
		<%= form_for EventCategory.new,
				url: calendar_event_category_edit_url(@category),
				html: { method: :patch } do |f| %>
			<div class="form-group">
				<%= select_tag :selected_category,
				options_from_collection_for_select(
					EventCategory.all.collect.sort_by { |g| g.name }, "id", "name"),
				{ class: "form-control", size: 10 } %>
			</div>
			<% if !current_user.main_groups.find_by(name: "Użytkownicy")
					.subgroups.find_by(admin: true).nil? %>
				<div class="pull-right">
					<%= f.submit "Usuń", class: "btn btn-danger btn-xs",
					name: "delete", disabled: true,
					data: { confirm: "Czy na pewno chcesz usunąć kategorię" } %>
				</div>
			<% end %>
			<%= hidden_field_tag :selected_category_name, "" %>
			<br />
			<div class="form-group">
				<%= f.label :name, "Nazwa kategorii" %>
				<%= f.text_field :name, autocomplete: "off",
						class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :schedule_type, "Rodzaj grafiku" %>
				<br />
				<label class="radio-inline" style="display: none"></label>
				<label class="radio-inline" id="category_weekly">
					<%= f.radio_button :schedule_type, "weekly" %>
					tygodniowy
				</label>
				<label class="radio-inline" id="category_group">
					<%= f.radio_button :schedule_type, "group" %>
					grupowy
				</label>
				<label class="radio-inline" id="category_none">
					<%= f.radio_button :schedule_type, "none", checked: true %>
					brak grafiku
				</label>
				<% EventCategory.all.each do |g| %>
	        <label class="radio-inline" style="display: none"
	          	id="<%= g.name + "_weekly" %>">
	          <%= radio_button g.name, :schedule_type,
	        			"weekly", checked: g.schedule_type=="weekly" %>
	          tygodniowy
	        </label>
	        <label class="radio-inline" style="display: none"
	          	id="<%= g.name + "_group" %>">
	          <%= radio_button g.name, :schedule_type,
	          		"group", checked: g.schedule_type=="group" %>
	          grupowy
	        </label>
	        <label class="radio-inline" style="display: none"
	        		id="<%= g.name + "_none" %>">
	          <%= radio_button g.name, :schedule_type,
	          		"none", checked: g.schedule_type=="none" %>
	          brak grafiku
	        </label>
	      <% end %>
			</div>
			<div class="text-center">
				<%= f.submit "Edytuj", class: "btn btn-primary",
				name: "edit", disabled: true %>
				<%= f.submit "Dodaj", class: "btn btn-primary",
				name: "add", disabled: true %>
			</div>
		<% end %>
	</div>
</div>
	