<div id="main" class="panel panel-default">
<%= month_calendar events: @events do |date, events| %>
	<div class="pull-left">
		<%= date.day %>
	</div>
	<% if user_signed_in? and !current_user.subgroups.find_by(admin: true).nil? %>
		<%#= form_for Event.new, url: calendar_add_event_url,
				html: { class: "form-inline", method: :get } do |f| %>
			<%#= f.hidden_field :start_time, value: date %>
			<%#= button_tag class: "btn btn-link btn-xs pull-right" do %>
				<%#= "<span class='glyphicon glyphicon-plus' aria-hidden='true'>
				</span>".html_safe %>
		<%= link_to calendar_add_event_url(start_time: date),
				class: "btn btn-link btn-xs pull-right" do %>
			<%= "<span class='glyphicon glyphicon-plus' aria-hidden='true'>
			</span>".html_safe %>
		<% end %>
		<%# end %>
	<% end %><br />
	<% events.collect.sort_by{ |e| e.start_time }.each do |event| %>
		<div style="font-size: 71.43%; line-height: 215%;">
			<div class="row" style="padding: 1px 0px; margin: 0px -9px">
				<div class="col-lg-4">
					<%= event.start_time.to_s(:time) %>
				</div>
				<div class="col-lg-8">
					<%= link_to event.name, calendar_show_event_url(id: event.id),
						{ method: :get,
							class: ("btn btn-" + event.color + " btn-sm btn-block"),
							style: "white-space: normal; word-wrap: break-word;
									hyphens: auto;",
							lang: "pl"
						} %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
</div>