<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h1><%= @event.name %></h1>
	</div>
	<div id="main" class="panel-body" style="overflow-y: auto">
		<div class="row">
			<div class="col-sm-1 col-sm-offset-4"
					style="font-weight: bold; line-height: 160%">
				<p>Data:</p>
			</div>
			<div class="col-sm-6">
				<p>
					<%= l @event.start_time, format: "%A" %>,
					<%= l @event.start_time.to_date %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1 col-sm-offset-4"
					style="font-weight: bold; line-height: 160%">
				<p>Godzina:</p>
			</div>
			<div class="col-sm-6">
				<p><%= l @event.start_time, format: "%H:%M" %></p>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div style="font-weight: bold; line-height: 160%">
					Obowiązkowo obenci:
				</div>
				<div class="text-right form-group">
					<% @man_att.each do |user| %>
						<% @point = user.points.find_by(event_id: @event.id) %>
						<%= user.full_name +
							((not @att.include? user) ?
								" (" + (@point.nil? ? 0.to_s : @point.points.to_s) + ")"
								: "") %>
						<br />
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div style="font-weight: bold; line-height: 160%">
					Lista obencności:
				</div>
				<div class="text-right form-group">
					<% @att.each do |user| %>
						<% @point = user.points.find_by(event_id: @event.id) %>
						<%= user.full_name + " (" +
								(@point.nil? ? 0.to_s : @point.points.to_s) + ")" %>
						<br />
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div id="main" class="panel-footer">
		<div class="form-group" style="text-align: center">
			<% if @user_can_edit %>
				<%= link_to "Edytuj listę obowiązkowo obecnych",
						calendar_edit_mandatory_attendance_list_url(id: @event.id),
					  { method: :get, class: "btn btn-primary" } %>
			<% end %>
			<% if @user_is_acolyte %>
				<%= link_to "Edytuj listę obecności",
						calendar_edit_attendance_list_url(id: @event.id),
					  { method: :get, class: "btn btn-primary" } %>
			<% end %>
			<% if @user_can_edit %>
				<%= link_to "Edytuj przyznane punkty",
						calendar_edit_points_url(id: @event.id),
					  { method: :get, class: "btn btn-primary" } %>
			<% end %>
		</div>
	</div>
</div>