<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h4>Edycja wydarzenia</h4>
	</div>
	<%= form_for @event, as: @event, url: calendar_edit_event_url,
			html: { method: :patch } do |f| %>
		<div id="main" class="panel-body" style="overflow-y: auto">
			<div class="form-group">
				<%= f.hidden_field :id, value: @event.id %>
			</div>
			<div class="form-group">
				<%= f.label :name, "Nazwa" %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :start_time, "Początek" %>
				<div class="form-inline">
        	<%= f.datetime_select :start_time,
        		{
        			prompt: true,
              end_year: Date.today.year - 110, start_year: Date.today.year + 5,
              date_separator: '', time_separator: '', minute_step: 5,
              datetime_separator: ' o godzinie: '
            },
        		{ class: "form-control" }
        	%>
        </div>
			</div>
			<div class="form-group">
				<%= f.label :end_time, "Koniec" %>
				<div class="form-inline">
        	<%= f.datetime_select :end_time,
        		{
        			prompt: true,
              end_year: Date.today.year - 110, start_year: Date.today.year + 5,
              date_separator: '', time_separator: '', minute_step: 5,
              datetime_separator: ' o godzinie: '
            },
        		{ class: "form-control" }
        	%>
        </div>
			</div>
			<div class="form-group">
				<%= f.label :description, "Opis" %>
        <%= f.text_area :description, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :color, "Kolor" %>
        <%= f.select :color, [["Biały", "default"], ["Niebieski", "primary"],
        	["Zielony", "success"], ["Błękitny", "info"],
        	["Pomarańczowy", "warning"], ["Czerwony", "danger"],
        	["Fioletowy", "purple"], ["Różowy", "pink"], ["Czarny", "black"],
        	["Żółty", "yellow"]].sort, {},
        	{ class: "form-control" }
        %>
			</div>
			<div class="form-group">
				<%= f.label :main_groups, "Organizatorzy" %>
				<i>(wybierając wiele trzymaj wciśnięty <b>CTRL</b>)</i>
				<%= select_tag :selected_group,
				options_from_collection_for_select(
					@main_groups_to_selected.sort_by { |g| g.name }, "id", "name",
					@organizers),
				{ class: "form-control", size: 5, :multiple => true } %>
			</div>
			<div class="form-horizontal">
				<% MainGroup.all.each do |group| %>
					<% if group.name != "Deweloperzy" %>
						<div class="form-group">
							<div class="col-xs-4 col-sm-5 control-label"
									style="word-wrap: break-word; text-align: right">
								<%= group.name %>
							</div>
							<div class="col-xs-5 col-sm-2">
								<div class="text-center">
									<div class="checkbox">
										<%= check_box group.id, :mandatory_presence,
											disabled: group.users.empty?,
											checked:
											(
												if @event.event_properties
														.find_by(main_group_id: group.id)
													@event.event_properties
														.find_by(main_group_id: group.id)
														.mandatory_presence > 0
												else
													false
												end
											)
										%>
										<%= "Liczba osób: " %>
									</div>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1">
								<%= number_field_tag group.id.to_s + "[number_mandatory]",
									(
										if @event.event_properties
												.find_by(main_group_id: group.id) and
												@event.event_properties
													.find_by(main_group_id: group.id)
													.mandatory_presence > 0
											@event.event_properties.find_by(main_group_id: group.id)
												.mandatory_presence
										else
											""
										end
									),
									{ class: "form-control", disabled: false, min: 1,
									disabled:
									(
										if @event.event_properties.find_by(main_group_id: group.id)
											@event.event_properties.find_by(main_group_id: group.id)
												.mandatory_presence == 0
										else
											true
										end
									),
									max: group.users.size, step: 1 } %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="form-group">
				<%= label_tag :selected_category, "Kategoria" %>
				<%= select_tag :selected_category,
				options_from_collection_for_select(
					EventCategory.all.collect.sort_by { |g| g.name }, "id", "name",
					@event.event_category.nil? ? 0 : @event.event_category.id),
				{ class: "form-control", size: 0 } %>
			</div>
			<div class="form-group">
				<%= label_tag :overriding_event, "Powiązane z" %>
				<%= select_tag :overriding_event,
				options_from_collection_for_select(
					Event.all.collect.sort_by { |g| g.start_time },
						:id, :start_time_and_name,
						@event.overriding_event.nil? ? 0 : @event.overriding_event.id),
				{ class: "form-control", size: 0, include_blank: true } %>
			</div>
		</div>
		<div id="main" class="panel-footer">
			<div class="text-center">
				<div class="form-group">
					<%= f.submit "Edytuj wydarzenie" , class: "btn btn-primary" %>
				</div>
			</div>
			<!--<form>-->
			<!--	<div class="pull-left">-->
			<!--		<%#= button_to "Usuń", calendar_destroy_event_url(id: @event.id),-->
			<!--		  data: { confirm: "Czy na pewno chcesz usunąć to wydarzenie" },-->
			<!--		  method: :delete, class: "btn btn-danger btn-xs" %>-->
			<!--  	<i>Operacji nie da się cofnąć!</i>-->
			<!--	</div>-->
			<!--</form>-->
		</div>
	<% end %>
</div>