<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h1><%= @event.name %></h1>
	</div>
	<div id="main" class="panel-body" style="font-size: 140%">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-4"
					style="font-weight: bold; font-size: 90%; line-height: 160%">
				<p>Data:</p>
			</div>
			<div class="col-sm-6">
				<p>
					<%= l @event.start_time, format: "%A" %>,
					<%= l @event.start_time.to_date %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-4"
					style="font-weight: bold; font-size: 90%; line-height: 160%">
				<p>Godzina:</p>
			</div>
			<div class="col-sm-6">
				<p><%= l @event.start_time, format: "%H:%M" %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-4"
					style="font-weight: bold; font-size: 90%; line-height: 160%">
				<p>Opis:</p>
			</div>
			<div class="col-sm-6">
				<p><%= @event.description.html_safe %></p>
			</div>
		</div>
	</div>
	<% if @access %>
		<div id="main" class="panel-footer">
			<div class="form-group" style="text-align: center">
				<%= link_to "Edytuj wydarzenie", calendar_show_event_to_edit_url(id: @event.id),
				  	{ method: :get, class: "btn btn-primary" } %>
				<%= link_to "Lista obecności",
						calendar_show_attendance_list_url(id: @event.id),
				  	{ method: :get, class: "btn btn-primary" } %>
			</div>
			<div class="form-group">
				<%= button_to "Usuń", calendar_destroy_event_url(id: @event.id),
					  data: { confirm: "Czy na pewno chcesz usunąć to wydarzenie" },
					  method: :delete, class: "btn btn-danger btn-xs" %>
			</div>
			<div>
			  <%= button_to "Usuń to i następne w serii",
				  	calendar_destroy_event_series_url(id: @event.id),
					  data: { confirm: "Czy na pewno chcesz usunąć to i następne " +
					  		"wydarzenia w serii" },
					  method: :delete, class: "btn btn-danger btn-xs" %>
			  <i>Operacji nie da się cofnąć!</i>
			</div>
		</div>
	<% elsif @can_edit_attendance_list %>
		<div id="main" class="panel-footer">
			<div class="form-group" style="text-align: center">
				<%= link_to "Lista obecności",
						calendar_show_attendance_list_url(id: @event.id),
				  	{ method: :get, class: "btn btn-primary" } %>
			</div>
		</div>
	<% end %>
</div>