<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h4>Grafik</h4>
	</div>
	<div id="select_model" style="display: none;">
		<%= select_tag @name, options_from_collection_for_select(
			@current_group.users.sort_by{ |u| u.last_name }, "id", "full_name"),
			{ class: "form-control", style: "min-width: 120px", size: 0,
				include_blank: true }
		%>
	</div>
	<%= form_tag acolyte_save_schedule_url, method: :post do %>
		<div id="main" class="panel-body" style="overflow-y: auto">
			<% @categories.each do |category| %>
				<% if category.schedule_type == "weekly" %>
					<% @days = Array.new %>
					<% @hours_in_days = Array.new %>
					<% @hours = Array.new %>
					<div class="table-responsive">
						<table class="table table-bordered">
							<% @title_show = false %>
							<% category.events.each do |event| %>
								<% @event_ok = false %>
								<% @properties =
										event.event_properties.where("mandatory_presence > ?", 0) %>
								<% if @properties.length > 0 and not @title_show %>
									<caption><%= category.name %></caption>
									<% @title_show = true %>
								<% end %>
								<% @properties.each do |property| %>
									<% if @event_ok = property.main_group.id ==
											@current_group.id %>
										<% break %>
									<% end %>
								<% end %>
								<% if @event_ok %>
									<% if !@days.include? event.start_time.wday %>
										<% @days << event.start_time.wday %>
										<% @hours_in_days[event.start_time.wday] = Array.new %>
										<%= hidden_field_tag category.id.to_s +
											"[weekday][]", event.start_time.wday %>
									<% end %>
									<% if !@hours.include? event.start_time.to_s(:time) %>
										<% @hours << event.start_time.to_s(:time) %>
										<%= hidden_field_tag category.id.to_s +
											"[hour][]", event.start_time.to_s(:time) %>
									<% end %>
								<% end %>
							<% end %>
							<thead>
								<tr>
									<th><div class="text-center">#</div></th>
									<% @days.sort!.each do |weekday| %>
										<% if weekday != 0 %>
											<th>
												<div class="text-center">
													<%= I18n.t(:"date.abbr_day_names")[weekday] %>
												</div>
											</th>
										<% end %>
									<% end %>
									<% @sunday = false %>
									<% @days.each do |weekday| %>
										<% if weekday == 0 %>
											<th>
												<div class="text-center">
													<%= I18n.t(:"date.abbr_day_names")[weekday] %>
												</div>
											</th>
											<% @sunday = true %>
											<% @days.delete(weekday) %>
										<% end %>
									<% end %>
									<% if @sunday == true %>
										<% @days << 0 %>
									<% end %>
								</tr>
							</thead>
							<tbody>
								<% @hours.sort!.each do |hour| %>
									<tr>
										<th scope="row">
											<div class="text-center"><%= hour %></div>
										</th>
										<% @days.each do |weekday| %>
											<td>
												<div id="cell_<%= category.id.to_s + "_" +
													weekday.to_s + "_" + hour.to_s %>">
													<% category.events.each do |event| %>
														<% @event_ok = false %>
														<% event.event_properties
																.where("mandatory_presence > ?", 0)
																.each do |property| %>
															<% if @event_ok =
																	property.main_group.id == @current_group.id %>
																<% break %>
															<% end %>
														<% end %>
														<% if @event_ok %>
															<% if event.start_time.wday == weekday and
																	event.start_time.to_s(:time) == hour %>
																<% if !@hours_in_days.at(weekday)
																		.include?(hour) %>
																	<% @hours_in_days.at(weekday) << hour %>
																	<div class="text-right form-group">
																		<div id="add_<%= category.id.to_s + "_" +
																				weekday.to_s + "_" + hour.to_s %>"
																				class="btn btn-default btn-xs">
																			<span class="glyphicon glyphicon-plus"
																				aria-hidden="true">
																			</span>
																		</div>
																	</div>
																	<% @current_group.users.each do |user| %>
																		<% @work_plan = user.work_plans.find_by(
																			main_group_id: @current_group.id) %>
																		<% if !@work_plan.nil? %>
																			<% @work_plan.tasks.where(event_id:
																					Event.where(event_category_id:
																						category.id)).each do |task| %>
																				<% if task.event.start_time
																						.to_s(:time) == hour and
																						task.event.start_time.wday ==
																						weekday %>
																					<div class="form-group">
																						<% @name = category.id.to_s +
																							"[" + weekday.to_s + "]" +
																							"[" + hour.to_s + "][]" %>
																						<%= select_tag @name,
																							options_from_collection_for_select(
																								@current_group.users
																									.sort_by{ |u| u.last_name },
																								"id", "full_name", user.id),
																							{ class: "form-control",
																								style: "min-width: 120px",
																								size: 0, include_blank: true}
																						%>
																					</div>
																					<% break %>
																				<% end %>
																			<% end %>
																		<% end %>
																	<% end %>
																<% end %>
															<% end %>
														<% end %>
													<% end %>
												</div>
											</td>
										<% end %>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				<% end %>
			<% end %>
		</div>
		<div id="main" class="panel-footer">
			<div class="text-center">
				<%= button_tag "Zapisz", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>