<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<% if @access_moderator or @access_admin %>
			<div class="pull-right">
				<%= link_to "Nowy wpis", acolyte_write_news_url,
		  			method: :get, class: "btn btn-success" %>
		  </div>
	  <% end %>
		<h4><b><%= @current_group.name %></b> - strona główna</h4>
	</div>
	<div id="main" class="panel-body" style="overflow-y: auto">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<% unless @news_to_show.nil? %>
					<% @news_to_show.each do |news| %>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4><%= news.title %></h4>
							</div>
							<div class="panel-body">
								<p lang="pl" style="hyphens: auto; text-align: justify">
									<% unless news.introduction.nil? %>
										<%= news.introduction %>
									<% else %>
										<%= news.content.gsub("<br />", " ")
												.truncate_words(60).html_safe %>
									<% end %>
								</p>
							</div>
							<div class="panel-footer">
								<% if @access_admin %>
									<div class="pull-right">
										<%= button_to "Usuń", acolyte_delete_news_url(id: news.id),
											  data: { confirm: "Czy na pewno chcesz usunąć " +
											  		"wiadomość <strong>" + news.title + "</strong>" },
											  method: :delete, class: "btn btn-danger btn-xs" %>
									</div>
								<% end %>
								<%= link_to "Czytaj", acolyte_show_news_url(id: news.id,
												page: @page),
								  	method: :get, class: "btn btn-default" %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div id="main" class="panel-footer text-center">
		<nav aria-label="Page navigation">
		  <ul class="pagination">
		  	<li>
			  	<%= link_to "<span aria-hidden='true'>&laquo;</span>".html_safe,
			    		acolyte_index_url(page: 1), method: :get,
			    		"aria-label": "Pierwsza" %>
			  </li>
		    <li>
		      <%= link_to "<span aria-hidden='true'>&lsaquo;</span>".html_safe,
		    			acolyte_index_url(page: @page - 1), method: :get,
		    			"aria-label": "Poprzednia" %>
		    </li>
		    <% @pages_to_show.each do |i| %>
		    	<% if i == @page %>
		    		<li class="active">
		    			<span><%= i %><span class="sr-only">(current)</span></span>
		    		</li>
		    	<% else %>
		    		<li><%= link_to i, acolyte_index_url(page: i), method: :get %></li>
		    	<% end %>
		    <% end %>
		    <li>
		      <%= link_to "<span aria-hidden='true'>&rsaquo;</span>".html_safe,
		    			acolyte_index_url(page: @page + 1), method: :get,
		    			"aria-label": "Następna" %>
		    </li>
		    <li>
		    	<%= link_to "<span aria-hidden='true'>&raquo;</span>".html_safe,
		    			acolyte_index_url(page: @pages), method: :get,
		    			"aria-label": "Ostatnia" %>
		    </li>
		  </ul>
		</nav>
	</div>
</div>