<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h3>Ranking</h3>
	</div>
	<%= form_tag acolyte_show_ranking_url, method: :get do %>
		<div id="main" class="panel-body" style="overflow-y: auto">
			<h4>Wybierz zakres rankingu:</h4>
			<div class="form-group">
				<%= label_tag :start, "Od dnia" %>
				<div class="form-inline">
					<%= date_select :start, :date,
							{
								prompt: true,
								end_year: 2016,
								start_year: Date.today.year
							},
							{ class: "form-control" } %>
				</div>
			</div>
			<div class="form-group">
				<%= label_tag :end, "Do dnia" %>
				<div class="form-inline">
					<%= date_select :end, :date,
							{
								prompt: true,
								end_year: 2016,
								start_year: Date.today.year
							},
							{ class: "form-control" } %>
				</div>
			</div>
		</div>
		<div id="main" class="panel-footer">
			<div class="form-group" style="text-align: center">
				<%= button_tag "Pokaż", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>