<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h2><%= @news.title %></h2>
		<h5><b><%= l @news.created_at, format: :long %></b></h5>
		<% unless @news.author.nil? %>
			<h5>Napisał: <b><%= @news.author.full_name %></b></h5>
		<% end %>
	</div>
	<div id="main" class="panel-body" style="overflow-y: auto;">
		<p lang="pl" style="hyphens: auto; text-align: justify; line-height: 150%;
				font-size: 150%">
			<%= @news.content.html_safe %>
		</p>
	</div>
	<div id="main" class="panel-footer">
		<%= link_to "Wstecz", acolyte_index_url(page: params[:page]),
				method: :get, class: "btn btn-default" %>
		<% if @access_admin %>
			<div class="pull-right">
				<%= button_to "Usuń", acolyte_delete_news_url(id: @news.id),
					  data: { confirm: "Czy na pewno chcesz usunąć wiadomość" +
					  		" <strong>" + @news.title + "</strong>" },
					  method: :delete, class: "btn btn-danger btn-xs" %>
			</div>
		<% end %>
	</div>
</div>