<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h3>Ranking</h3>
	</div>
	<div id="main" class="panel-body" style="overflow-y: auto">
		<h4>Od <b><%= l @start, format: :long %></b>
		do <b><%= l @end, format: :long %></b></h4><br />
		<% @array = Array.new %>
		<% @current_group.users.sort_by{|u|
						@array[u.id] = u.points
								.where(event_id: @events.map(&:id))
								.sum(:points)
						-@array[u.id]
				}.each do |user| %>
			<% @points = @array[user.id] %>
			<%= (user.full_name + " (<b>" + @points.to_s + "</b>)").html_safe %>
			<br />
		<% end %>
	</div>
	<div id="main" class="panel-footer">
		<%= link_to "Wstecz", acolyte_select_date_ranking_url,
				method: :get, class: "btn btn-default" %>
	</div>
</div>