<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h4>Dyspozycyjność</h4>
	</div>
	<%= form_tag acolyte_save_dispositions_url, method: :patch do %>
		<div id="main" class="panel-body" style="overflow-y: auto">
			<% @categories.each do |category| %>
				<% if category.schedule_type == "weekly" %>
					<% @days = Array.new %>
					<% @hours_in_days = Array.new %>
					<% @hours = Array.new %>
					<div class="table-responsive">
						<table class="table table-bordered">
							<caption><%= category.name %></caption>
							<% category.events.each do |event| %>
								<% @event_ok = false %>
								<% [*event.event_properties.where("mandatory_presence > ?", 0)]
										.each do |property| %>
									<% if @event_ok = property.main_group.id ==
											@current_group.id %>
										<% break %>
									<% end %>
								<% end %>
								<% if @event_ok %>
									<% if !@days.include? event.start_time.wday %>
										<% @days << event.start_time.wday %>
										<% @hours_in_days[event.start_time.wday] = Array.new %>
										<%= hidden_field_tag category.id.to_s +
											"[weekday][]", event.start_time.wday %>
									<% end %>
									<% if !@hours.include? event.start_time.to_s(:time) %>
										<% @hours << event.start_time.to_s(:time) %>
										<%= hidden_field_tag category.id.to_s +
											"[hour][]", event.start_time.to_s(:time) %>
									<% end %>
								<% end %>
							<% end %>
							<thead>
								<tr>
									<th><div class="text-center">#</div></th>
									<% @days.sort!.each do |weekday| %>
										<th>
											<div class="text-center">
												<%= I18n.t(:"date.abbr_day_names")[weekday] %>
											</div>
										</th>
									<% end %>
								</tr>
							</thead>
							<tbody>
								<% @hours.sort!.each do |hour| %>
									<tr>
										<th scope="row">
											<div class="text-center"><%= hour %></div>
										</th>
										<% @days.each do |weekday| %>
											<td>
												<% category.events.each do |event| %>
													<% @event_ok = false %>
													<% event.event_properties
															.where("mandatory_presence > ?", 0)
															.each do |property| %>
														<% if @event_ok =
																property.main_group.id == @current_group.id %>
															<% break %>
														<% end %>
													<% end %>
													<% if @event_ok %>
														<% if event.start_time.wday == weekday and
																event.start_time.to_s(:time) == hour %>
															<% if !@hours_in_days.at(weekday)
																	.include?(hour) %>
																<% @hours_in_days.at(weekday) << hour %>
																<div class="text-center">
																	<label>
																		<%= hidden_field_tag @name =
																			category.id.to_s +
																			"[" + weekday.to_s + "]" +
																			"[" + hour.to_s + "]", 0 %>
																		<%= check_box_tag @name , 1, (
																				if current_user.dispositions.find_by(
																							event_category_id: category.id,
																							weekday: weekday,
																							hour: hour
																						).nil?
																					false
																				else
																					true
																				end
																			) %>
																	</label>
																</div>
															<% end %>
														<% end %>
													<% end %>
												<% end %>
											</td>
										<% end %>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				<% end %>
			<% end %>
		</div>
		<div id="main" class="panel-footer">
			<div class="text-center">
				<%= button_tag "Zapisz", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>