<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h3>Nowa wiadomość</h3>
	</div>
	<%= form_for News.new, url: acolyte_create_news_url,
			html: { method: :post } do |f| %>
		<div id="main" class="panel-body" style="overflow-y: auto; min-height: 220px">
			<div class="form-group">
				<%= f.label :title, "Tytuł" %>
				<%= f.text_field :title, autofocus: true, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :content, "Tekst" %>
				<%= f.text_area :content, rows: 7, class: "form-control" %>
			</div>
		</div>
		<div id="main" class="panel-footer">
			<div class="pull-left">
				<%= link_to "Anuluj", acolyte_index_url,
					method: :get, class: "btn btn-default" %>
			</div>
			<div class="text-center">
				<%= f.submit "Dodaj" , class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>