<div id="main" class="panel panel-default">
  <div id="main" class="panel-heading">
    <h2>Nie pamiętasz hasła?
    </h2>
  </div>
  <div id="main" class="panel-body" style="overflow-y: auto">
    <% devise_error_messages! %>
    
    <%= form_for(resource, as: resource_name,
        url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Wiślij link do zmiany hasła", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div id="main" class="panel-footer"><%= render "devise/shared/links" %></div>
</div>