<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h1>Zarządzanie grupami</h1>
	</div>
	<div id="main" class="panel-body" style="overflow-y: auto">
		<%= form_for MainGroup.new, url: main_groups_edit_url(@group),
				html: { method: :patch } do |f| %>
			<div class="form-group">
				<%= select_tag :selected_group,
				options_from_collection_for_select(
					MainGroup.all.collect.sort_by { |g| g.name }, "id", "name"),
				{ class: "form-control", size: 10 } %>
			</div>
			<div class="pull-right">
				<%= f.submit "Usuń", class: "btn btn-danger btn-xs",
				name: "delete", disabled: true,
				data: { confirm: "Czy na pewno chcesz usunąć grupę" } %>
			</div><br />
			<div class="form-group">
				<%= f.label :name, "Nazwa grupy" %>
				<%= f.text_field :name, autocomplete: "off",
				class: "form-control" %>
			</div>
			<div class="text-center">
				<%= f.submit "Edytuj", class: "btn btn-primary",
				name: "edit", disabled: true %>
				<%= f.submit "Dodaj", class: "btn btn-primary",
				name: "add", disabled: true %>
			</div>
		<% end %>
	</div>
</div>
	