<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h1>Zarządzanie rangami</h1>
	</div>
	<div id="main" class="panel-body" style="overflow-y: auto">
		<%= form_for Subgroup.new, url: subgroups_edit_url,
				html: { method: :patch } do |f| %>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-6">
						<%= select_tag :selected_main_group,
						options_from_collection_for_select(
							MainGroup.all.collect.sort_by { |g| g.name },
							"id", "name"),
						{ class: "form-control", size: 10 } %>
					</div>
					<div class="col-xs-6">
						<%= select_tag :selected_subgroup,
						options_from_collection_for_select(
							Subgroup.all.collect.sort_by { |g| g.name },
							"main_group_id", "name"),
						{ class: "form-control", size: 10 } %>
						<%= hidden_field_tag :selected_subgroup_name, "" %>
					</div>
				</div>
			</div>
			<div class="text-right">
				<%= f.submit "Usuń", class: "btn btn-danger btn-xs",
				name: "delete", disabled: true,
				data: { confirm: "Czy na pewno chcesz usunąć rangę" } %>
			</div>
			<div class="text-center">
				<label class="checkbox-inline" id="subgroup_admin">
					<%= f.check_box :admin %>
					Administrator
				</label>
				<label class="checkbox-inline" id="subgroup_moderator">
					<%= f.check_box :moderator %>
					Moderator
				</label>
			</div>
			<% Subgroup.all.each do |g| %>
				<div class="text-center">
					<label class="checkbox-inline" style="display: none"
							id="<%= g.name + "_admin" %>">
						<%= check_box g.name, :admin, checked: g.admin %>
						Administrator
					</label>
					<label class="checkbox-inline" style="display: none"
							id="<%= g.name + "_moderator" %>">
						<%= check_box g.name, :moderator, checked: g.moderator %>
						Moderator
					</label>
				</div>
			<% end %>
			<div class="form-group">
				<%= f.label :name, "Nazwa grupy" %>
				<%= f.text_field :name, autocomplete: "off",
				class: "form-control" %>
			</div>
			<div class="text-center">
				<%= f.submit "Edytuj", class: "btn btn-primary",
				name: "edit", disabled: true %>
				<%= f.submit "Dodaj", class: "btn btn-primary",
				name: "add", disabled: true %>
			</div>
		<% end %>
	</div>
</div>
	