<div id="main" class="panel panel-default">
	<div id="main" class="panel-heading">
		<h1><%= @current_group.name %></h1>
	</div>
	<div id="main" class="panel-body" style="overflow-y: auto">
		<%= form_tag subgroups_edit_users_url,
				{ method: :patch, class: "form-horizontal" } do %>
			<%= hidden_field_tag :group_name, @current_group.name %>
			<% User.all.each do |user| %>
				<% @user_subgroup =
					user.subgroups.find_by(main_group_id: @current_group.id) %>
				<div class="form-group">
					<label class="col-sm-5 control-label">
						<%= user.first_name + " " + user.last_name +
							" (" + user.email + ")" %>
					</label>
					<div class="col-sm-2">
						<div class="text-center">
							<div class="checkbox">
								<%= check_box user.email, :member,
									checked: !@user_subgroup.nil? %>
								<%= "Ranga: " %>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<%= select_tag user.email + "[subgroup]",
						options_from_collection_for_select(
							@current_group.subgroups.collect.sort_by {
								|g| g.name },
							"id", "name", if !@user_subgroup.nil?
								@user_subgroup.id else nil end),
						{ class: "form-control",
							disabled: @user_subgroup.nil?,
							include_blank: @user_subgroup.nil? } %>
					</div>
				</div>
			<% end %>
			<div class="text-center">
				<div class="form-group">
					<%= submit_tag "Zapisz", class: "btn btn-primary" %>
				</div>
			</div>
		<% end %>
	</div>
</div>