<div class="simple-calendar">
	<div class="calendar-heading row" style="margin: auto">
		<div class="col-sm-2 col-xs-3" style="text-align: left">
			<%= link_to t('simple_calendar.previous', default: 'Previous').html_safe,
				calendar.url_for_previous_view, class: "btn btn-default btn-sm" %>
		</div>
		<div class="col-sm-8 col-xs-6 calendar-title">
			<%= t('date.month_names')[start_date.month].humanize + " " %>
			<% if start_date.year > 0 %>
				<%= start_date.year %><%= " A.D." %>
			<% else %>
				<%= -start_date.year + 1 %><%= " A.C." %>
			<% end %>
		</div>
		<div class="col-sm-2 col-xs-3" style="text-align: right">
			<%= link_to t('simple_calendar.next', default: 'Next').html_safe,
				calendar.url_for_next_view, class: "btn btn-default btn-sm" %>
		</div>
	</div>
	
	<div id="main" class="table-responsive panel-body" style="overflow-y: auto">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<% date_range.slice(0, 7).each do |day| %>
						<th style="text-align: center">
							<%= t('date.abbr_day_names')[day.wday] %>
						</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% date_range.each_slice(7) do |week| %>
					<tr>
						<% week.each do |day| %>
							<%= content_tag :td, class: calendar.td_classes_for(day) do %>
								<% if defined?(Haml) && respond_to?(:block_is_haml?) &&
										block_is_haml?(block) %>
									<% capture_haml(day, sorted_events.fetch(day, []), &block) %>
								<% else %>
									<% block.call day, sorted_events.fetch(day, []) %>
								<% end %>
							<% end %>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
