<div class="simple-calendar">
  <div class="calendar-heading">
    <div class="row" style="margin: auto">
      <div class="col-sm-2 col-xs-3" style="text-align: left">
        <%= link_to t('simple_calendar.previous', default: 'Previous').html_safe,
          calendar.url_for_previous_view, class: "btn btn-default btn-sm" %>
      </div>
      <div class="col-sm-8 col-xs-6 calendar-title">
        <% if date_range.first.month != date_range.last.month %>
          <% if date_range.first.year != date_range.last.year %>
            <%= l date_range.first %>
          <% else %>
            <%= "%02d" % date_range.first.day +
              "." + "%02d" % date_range.first.month %>
          <% end %>
        <% else %>
          <%= "%02d" % date_range.first.day %>
        <% end %>
        <%= "-" %>
        <%= l date_range.last %>
        <%="(" + date_range.first.strftime("%U") + ")" %>
      </div>
      <div class="col-sm-2 col-xs-3" style="text-align: right">
        <%= link_to t('simple_calendar.next', default: 'Next').html_safe,
          calendar.url_for_next_view, class: "btn btn-default btn-sm" %>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <th style="text-align: center">
              <%= t('date.abbr_day_names')[day.wday] %>
            </th>
          <% end %>
        </tr>
      </thead>
  
      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
                <% else %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
