<div id="main" class="panel panel-default">
  <div id="main" class="panel-heading"><h4>Logowanie</h4></div>
  <div id="main" class="panel-body" style="overflow-y: auto">
    <% devise_error_messages! %>
    
    <%= form_for(resource, as: resource_name,
        url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <center>
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %> Zapamiętaj mnie
            </label>
          </div>
        <% end -%>
        
        <%= f.submit "Zaloguj się", class: "btn btn-primary" %>
      </center>
    <% end %>
  </div>
  <div id="main" class="panel-footer"><%= render "devise/shared/links" %></div>
</div>