@import "bootstrap";

.simple-calendar {
	.day {
		text-align: left;
		line-height: 100%;
		font-size: 140%;
		font-weight: bold;
		min-width: 75px;
	}

	.wday-0 {}
	.wday-1 {}
	.wday-2 {}
	.wday-3 {}
	.wday-4 {}
	.wday-5 {}
	.wday-6 {}

	.today {
		@extend .success;
	}
	
	.past {}
	.future {}

	.start-date {}

	.prev-month {
		background-color: lighten(#000, 91.5%)
	}
	.next-month {
		background-color: lighten(#000, 91.5%)
	}
	.current-month {}

	.has-events {}
	
	.calendar-heading {
		padding: 10px;
		border-radius: 5px 5px 0px 0px;
		background-color: #f5f5f5;
	}
	
	.calendar-title {
		text-align: center;
		line-height: 179%;
		font-size: 120%;
	}
}