<p>Cześć <%=
    if @resource.first_name.nil?
        @resource.email
    else
        @resource.first_name
    end
%>!</p>

<p>Ktoś wysłał prośbę o zmianę hasła podając Twój e-mail: <%= @resource.email %>.</p>

<p>Jeśli to Ty kliknij w poniższy link by zmienić hasło:</p>

<p><%= link_to 'ZMIEŃ HASŁO', edit_password_url(@resource, reset_password_token: @token) %>.</p>

<p>Jeśli to nie Ty, proszę zignoruj ten e-mail.</p>
<p>Twoje hasło nie zostanie zmienione dopóki nie klikniesz w powyższy link i stworzysz nowe.</p>
