<p>Cześć <%=
    if @resource.first_name.nil?
        @resource.email
    else
        @resource.first_name
    end
%>!</p>

<p>Twoje konto zostało zablokowane z powodu zbyt dużej liczby nieudanych prób zalogowania się na twoje konto.</p>

<p>Kliknij w poniższy link by odblokować konto:</p>

<p><%= link_to 'ODBLOKUJ KONTO', unlock_url(@resource, unlock_token: @token) %>.</p>
